
  <div class="jumbotron mt-3">
    <h1>Welcome!</h1>

    <p>
      NatureWalk is an app that will allow you to keep track of your nature walks
      and all of the exciting things that you see on them! Add pictures of animals,
      plants, rocks, pretty views, anything you want! Then tag your diary
      pages so that you can review your best moments in the forest, on the beach,
      in the mountains, wherever you'd like to revisit. And if you want a change
      of scenery, get suggestions for your next nature excursion based on all of the
      walks taken by the NatureWalk community! Sign up today and come along with
      us on NatureWalk!
    </p>
  </div>
